# Large files > 100MB (exceeds GitHub limit)
SEM 1-2/Cellulær udvikling BMB 547/Biology A Global Approach, Global Edition (2020,12th Edition).pdf
SEM 1-2/Molekylær data science/Data science forlæsninger/Spring lecture/Applications of integration in life science.pptx

# OS files
.DS_Store
# Store filer >100MB (GitHub limit)
SEM 1-2/Cellulær udvikling BMB 547/KAP 48-49 Nervesystem og Sansning/Forelæsning_ElectricalSignaling_Kap48.pptx
