# Large files > 100MB (exceeds GitHub limit)
SEM 1-2/Cellulær udvikling BMB 547/Biology A Global Approach, Global Edition (2020,12th Edition).pdf
SEM 1-2/Molekylær data science/Data science forlæsninger/Spring lecture/Applications of integration in life science.pptx

# OS files
.DS_Store
